# Grouping

In [9]:
import pandas as pd
df=pd.read_csv("sample1.csv")
print(df)

   S NO      NAME  AGE  SALARY GENDER   DEPT  Unnamed: 6  Unnamed: 7
0     1    Geetha   19   10000      f    cse         NaN         NaN
1     2  laxmisri   20   20000      f    cse         NaN         NaN
2     3       sai   20   25000      m   mech         NaN         NaN
3     4   sumathi   18   30000      f  civil         NaN         NaN
4     5     satya   21   35000      f  civil         NaN         NaN
5     6    kalyan   22   40000      m    ece         NaN         NaN
6     7     madhu   19   25000      f  civil         NaN         NaN

# GROUP BY FUNCTION

In [ ]:
print(df.groupby(["GENDER"]))

In [5]:
a=df.groupby(["GENDER","DEPT"])

In [6]:
print(a.groups)

{('f', 'civil'): Int64Index([3, 4, 6], dtype='int64'), ('f', 'cse'): Int64Index([0, 1], dtype='int64'), ('m', 'ece'): Int64Index([5], dtype='int64'), ('m', 'mech'): Int64Index([2], dtype='int64')}

In [13]:
print(df.groupby(["DEPT"]).max())

       S NO      NAME  AGE  SALARY GENDER  Unnamed: 6  Unnamed: 7
DEPT
civil     7   sumathi   21   35000      f         NaN         NaN
cse       2  laxmisri   20   20000      f         NaN         NaN
ece       6    kalyan   22   40000      m         NaN         NaN
mech      3       sai   20   25000      m         NaN         NaN