# PYTHON BASIC PROGRAMS

In [2]:
print("Hello World!")

Hello World!

In [4]:
str1="Geetha"
print(type(str1))

<class 'str'>

In [5]:
a=10
print(type(a))

<class 'int'>

In [6]:
b=10.5
print(type(b))

<class 'float'>

In [8]:
c=2+4.5j
print(type(c))

<class 'complex'>

SyntaxError: invalid syntax (<ipython-input-9-88b79088b2a2>, line 1)

In [10]:
list1=[1,2,3,4,"python"]
print(list1)

[1, 2, 3, 4, 'python']

# TYPES ,EXPRESSIONS AND VARIABLES

In [11]:
X=15+1.3
print(X)
print(type(X))

16.3
<class 'float'>

In [12]:
a=40
b=12
c=a+b
print(c)

52

In [13]:
d=9.5
print(int(d))

9

In [14]:
print(float(a))

40.0

In [15]:
p=(a-b)<c
print(p)

True

In [16]:
y=(10==9)
z=(7>5)
print(z)
print(y)

True
False

In [17]:
print(y or z)

True

In [18]:
print(b<<2)
print(b>>3)
print(a+(b<<4))

48
1
232

# STRING OPRATIONS

In [19]:
str1="hai"
print(str1)

hai

In [22]:
str2="""hello,
     python"""
print(str2)

hello,
     python

In [23]:
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [24]:
print(a[0])

p

In [25]:
print(a[0:4])

pyth

In [29]:
print(a[::-1])

nohtyp

In [30]:
print(len(a))

6

In [31]:
print("th" in a)

True

In [36]:
print(a[-10:-4])

py

In [34]:
print(a[4:10])

on

In [37]:
a.upper()

'PYTHON'

In [38]:
a.lower()

'python'

In [39]:
a.strip()

'python'

In [40]:
b="    geetha"
print(b.strip())

geetha

In [41]:
b="    geetha   "
print(b.strip())

geetha

In [42]:
b.split(",")

['    geetha   ']

In [44]:
b="hello,world!"
b.split(",")

['hello', 'world!']

In [45]:
c="hai,"
d="hello"
print(c+d)

hai,hello

In [46]:
year=2022
month=5
date=6
txt="Today:(year-{})/(month-{})/(date-{})"
print(txt.format(year,month,date))

Today:(year-2022)/(month-5)/(date-6)

In [47]:
a="""python is a programming
   language,which is very
   easyest and user can understandable."""
print(a)

python is a programming
   language,which is very
   easyest and user can understandable.

In [48]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [49]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [50]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [53]:
age=19
txt="my name is geetha,i am {}"
print(txt.format(age))

my name is geetha,i am 19

In [54]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [57]:
txt = "Hello\rWorld!"
print(txt)

World!

In [58]:
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [59]:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [61]:
txt = "Hello, And Welcome To My World!"

print(txt.casefold())

hello, and welcome to my world!

In [68]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [69]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [70]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [71]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [72]:
a="programming language"
print(a.index("a"))
print(a.find("a"))
print(a.isalnum())

5
5
False

In [74]:
d="programming"
print(d.isalpha())
print(d.isdecimal())
print(d.isdigit())
print(d.isidentifier())

True
False
False
True

In [75]:
e="123"
print(e.isnumeric())

True

In [76]:
print(a.istitle())

False

In [77]:
print("0".join(e))

10203

In [78]:
f="python"
print(f.lstrip())

python

In [80]:
x=f.maketrans("n","m")
print(f.translate(x))
print(e.partition("2"))
print(d.split("a"))
print(d.splitlines())
print(a.title())

pythom
('1', '2', '3')
['progr', 'mming']
['programming']
Programming Language

# PYTHON LISTS

In [81]:
L1=[1,2,3,4]
print(type(L1))
print(L1)

<class 'list'>
[1, 2, 3, 4]

In [82]:
for i in L1:
    print(i)

1
2
3
4

In [84]:
l2=[]
l2.extend([2,4,6,[1,2,3]])
print(l2)

[2, 4, 6, [1, 2, 3]]

In [90]:
l2.append((8,9))
print(l2)

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9)]

In [91]:
l2

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9)]

In [92]:
l2.insert(0,1)
print(l2)

[1, 2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9)]

In [93]:
l2.remove(1)
print(l2)

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9)]

In [95]:
L1.extend([5,6])
print(L1)

[1, 2, 3, 4, 5, 6]

In [96]:
print(len(l2))

9

In [97]:
print(l2[3])

[1, 2, 3]

In [98]:
print(l2[:6])

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9)]

In [100]:
l2.extend([9])
print(l2)

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9), 9, 9]

In [101]:
print(l2[::-1])

[9, 9, (8, 9), [8, 9], (8, 9), (8, 9), (8, 9), [1, 2, 3], 6, 4, 2]

In [102]:
print(l2[-4:-1])

[[8, 9], (8, 9), 9]

In [103]:
del(l2[-1])

In [104]:
print(l2)

[2, 4, 6, [1, 2, 3], (8, 9), (8, 9), (8, 9), [8, 9], (8, 9), 9]

In [105]:
l2=[2,4,6,[1,2,3],(8,9),9]
print(l2)

[2, 4, 6, [1, 2, 3], (8, 9), 9]

In [106]:
del(l2[-1])

In [107]:
l2[2:4]=[3,4]
print(l2)

[2, 4, 3, 4, (8, 9)]

In [110]:
l2[3]=[5,6,7]
print(l2)

[2, 4, 3, [5, 6, 7], (8, 9)]

In [111]:
l3=l2.copy()
print(l3)

[2, 4, 3, [5, 6, 7], (8, 9)]

In [112]:
del(l3[-1])
print(l3)

[2, 4, 3, [5, 6, 7]]

In [113]:
L1.sort()
print(L1)

[1, 2, 3, 4, 5, 6]

In [115]:
L1.sort(reverse=True)
print(L1)

[6, 5, 4, 3, 2, 1]

In [116]:
L1.pop(2)

4

In [117]:
L1.clear()

In [118]:
print(L1)

[]

In [121]:
l1=[1,2,3,4]
l1.append(20)
print(l1)

[1, 2, 3, 4, 20]

In [122]:
l1.extend([(1,2,3),2,3])
print(l1)

[1, 2, 3, 4, 20, (1, 2, 3), 2, 3]

In [123]:
l1.pop()

3

In [124]:
l1.pop(2)

3

In [127]:
l1.remove(2)
print(l1)

[1, 4, 20, (1, 2, 3)]

In [141]:
l1.reverse()
print(l1)

[(1, 2, 3), 20, 4, 1]

In [142]:
l1[0]=8
print(l1)

[8, 20, 4, 1]

In [143]:
l1[1:3]=[10,20]
l1

[8, 10, 20, 1]

In [144]:
l1[1:2]=[1,2,3]
l1

[8, 1, 2, 3, 20, 1]

# TUPLE OPERATIONS

In [146]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [147]:
print(type(t))

<class 'tuple'>

In [149]:
print(len(t))

4

In [150]:
t.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [151]:
t.count(1)

1

In [152]:
t[0:]

(1, 2, 3, 4)

In [153]:
x=list(t)
x.append(1)
t=tuple(x)
print(t)

(1, 2, 3, 4, 1)

In [154]:
t[1:4]

(2, 3, 4)

In [155]:
t[-4:-1]

(2, 3, 4)

In [156]:
t1=(1,[2,3],4,5)
t1=t1+(6,7)
t1

(1, [2, 3], 4, 5, 6, 7)

In [157]:
del(t1)

In [161]:
t2=(2,4,6)
(a,b,c)=t2
print((a,b,c))

(2, 4, 6)

In [162]:
(a,*b)=t2
print(a,b)

2 [4, 6]

In [163]:
t=(1,2,3,4)
t2=('a','b','c')
t3=t+t2
t3

(1, 2, 3, 4, 'a', 'b', 'c')

# SETS OPERATIONS

In [164]:
s1={1,2,3}
s2={3,4,5,6}
print(s1,s2)

{1, 2, 3} {3, 4, 5, 6}

In [165]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [166]:
s1.intersection(s2)

{3}

In [167]:
s1.difference(s2)

{1, 2}

In [169]:
s2.discard(4)
s2

{3, 5, 6}

In [170]:
s3={3}
s3.issubset(s2)

True

In [172]:
s1.difference_update(s2)
s1

{1, 2}

In [173]:
s2

{3, 5, 6}

In [174]:
s1.add(3)

In [175]:
s1

{1, 2, 3}

In [176]:
s1.remove(3)

In [177]:
s1

{1, 2}

In [179]:
s3={3}
s4={1,2}
s3.isdisjoint(s4)

True

In [180]:
s3.update({5,6})
s3

{3, 5, 6}

In [182]:
del(s1)
s1

NameError: name 's1' is not defined

# DICTIONARY OPERATIONS

In [183]:
d={"name":"python","id":1}
d

{'name': 'python', 'id': 1}

In [184]:
d1={}
print(d1)
type(d1)

{}

dict

In [185]:
d2=dict({})
print(d2)

{}

In [186]:
d3=dict([(1,"one"),(2,"two"),(3,"three")])
print(d3)

{1: 'one', 2: 'two', 3: 'three'}

In [187]:
d["branch"]="cse"
print(d)

{'name': 'python', 'id': 1, 'branch': 'cse'}

In [188]:
len(d)

3

In [189]:
d3.pop(3)

'three'

In [190]:
d3[3]="three"
d3.popitem()
d3

{1: 'one', 2: 'two'}

In [191]:
d3[4]="four"
d3.values()

dict_values(['one', 'two', 'four'])

In [192]:
d3.keys()

dict_keys([1, 2, 4])

In [193]:
d3.items()

dict_items([(1, 'one'), (2, 'two'), (4, 'four')])

In [194]:
d3.update({3:"three"})
d3

{1: 'one', 2: 'two', 4: 'four', 3: 'three'}

In [195]:
print(d["name"])

python

In [196]:
print(d.get("name"))

python

# SIMPLE IF STATEMENTS